:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: rgba(46, 47, 66, 0.4);
    --hero-background: rgba(46, 47, 66, 70%);
    --white-background: #ffffff;
    --modal-background: #FCFCFC;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background-color: var(--white-background);

}


p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

li{
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*<-----------HEADER------------->*/

.header {
    display: flex;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    align-items: center;
    justify-content: space-between;
}

.shadow {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
    color: var(--dark);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

span {
    color: var(--primary-brand);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.container{
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    gap: 76px;
}

.header-list{
    display: flex;
    gap: 40px;
}

.header-navigation {
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-list {
    display: flex;
    gap: 40px;
}

.header-navigation:hover, .header-navigation:focus {
    color: var(--pressed-state);
}

.header-contact{
    color: var(--text);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact:hover, .header-contact:focus {
    color: var(--pressed-state);
}

.header-active {
position: relative;
}

.active {
    color: var(--pressed-state);
    position: relative;
}

.active::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -28.5px;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state);
    border-radius: 2px;
}


/*-----------TITLE------------*/


.title {
    background-color: var(--dark);
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.title-wrap {
    padding: 188px 0;
}

.title-name {
    color: var(--white-background);
    font-size: 56px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    width: 496px;
    text-align: center;
    margin: 0 auto;

}

.title-btn {
    display: block;
    color: var(--white-background);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: var(--primary-brand);
    margin: 0 auto;
    margin-top: 48px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-btn:hover, .title-btn:focus {
    background-color: var(--pressed-state);
}


/*!-------------ADVANTAGES----------------*/


.advantages-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 95px;
    padding-bottom: 97px;
    margin: 0 auto;
    gap: 72px;
}

.advantages-item {
    color: var(--dark);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
    text-align: center;
}

.advantages-text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.advantages-icon {
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
    border-radius: 4px;
    margin-bottom: 8px;
    display: none;
}

/**---------PRODUCT----------*/

.product {
    display: none;
}


.product-item {
    display: flex;
    gap: 24px;
    padding-bottom: 120px;
}

.product-title {
    color: var(--dark);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    padding-bottom: 72px;
    text-align: center;
}


/*-----------TEAM---------------*/


.team {
    background-color: var(--light);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-wrap {
    padding: 96px 0px;
}

.team-title {
    color: var(--dark);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    padding-bottom: 72px;
    text-align: center;
}

.team-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}


.team-name {
    color: var(--dark);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 8px;  
    text-align: center;  
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 12px;
    text-align: center;
}

.team-mate {
    width: 264px;
    height: 428px;
    background-color: var(--white-background);
    border-radius: 4px;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.team-list-icon {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.team-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand);
    fill: var(--light);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon:hover, .team-icon:focus {
    background-color: var(--pressed-state);
}



/*---------------CUSTOMERS--------------*/

.cust {
    padding: 96px 0;
}

.customers {
    color: var(--dark);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 80px;
}


.cust-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.cust-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.cust-link {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid var(--subtle-text);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    fill: var(--subtle-text);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cust-link:hover, .cust-link:focus {
    fill: var(--pressed-state);
    border-color: var(--pressed-state);
}


















/*<---------FOOTER--------->*/



.footer{
    background-color: var(--dark);
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-logo-text {
}

.footer-logo{
    color: var(--light);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 98px;
    padding-bottom: 16px;
    text-align: center;
}

.footer-text {
    color: var(--light);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    padding-bottom: 72px;
    text-align: center;
}

.footer-social {

}

.footer-social-text {
    color: var(--white-background);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.footer-list-icon {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}



.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand);
    fill: var(--light);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover,
.footer-icon:focus {
    background-color: var(--success);
}

.footer-form-wrap {
}

.footer-form-text {
    margin-bottom: 23px;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--white-background);
}

.footer-input::placeholder {
    color: var(--white-background);
}

.footer-form-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    background-color: var(--primary-brand);
    border-radius: 4px;
    border: none;
    color:var(--white-background);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 24px;
    margin-bottom: 96px;
}

.footer-form-btn svg {
    margin-left: 16px;
}




/*------------portfolio--------------*/

.button-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
    margin-bottom: 48px;
    gap: 16px 24px;
}

.button-item {
    color: var(--primary-brand);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: var(--light);
    border: 1px solid var(--accent);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item:hover, .button-item:focus {
    color: var(--white-background);
    background-color: var(--pressed-state);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12)
}


/*!-----------ITEMS-----------*/


.items-content {
    border: 1px solid var(--accent);
}

.items-title {
    color: var(--dark);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding: 32px 16px 8px;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}

.items-img-img {
    width: 290px;
}

.items-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.items-link:hover, .items-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);;
}

.items-list:last-child {
    margin-bottom: 48px;
}

.items-text {
    color: var(--text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}


.items-img {
    position: relative;
    overflow: hidden;
}

.text-hidden {
    position: absolute;
    top: 0;
    color: var(--light);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: var(--primary-brand);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.items-img:hover .text-hidden {
    transform: translateY(0%);
}

.items-img:focus .text-hidden {
    transform: translateY(0%);
}





/*!--------------MODAL-------------*/


.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: var(--modal-overlay);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: var(--modal-background);
    box-shadow: зі значенням 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, .modal-close-btn:focus {
    background-color: var(--pressed-state);
    border: none;
    fill: var(--white-background);
}

.close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}


.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--modal-overlay);
    background-color: transparent;
    padding-left: 38px;
    padding-right: 24px;
    margin-bottom: 8px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: var(--primary-brand);
}

.form-btn {
    display: block;
    width: 169px;
    height: 56px;
    color: var(--white-background);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    background-color: var(--primary-brand);
    margin: 0 auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text);
    display: block;
    margin-bottom: 4px;
}


.modal-input-icon {
    position: relative;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    fill: var(--dark);
    position: absolute;
    left: 16px;
    top: 44%;
    transform: translateY(-50%);
}

.modal-input:focus + .modal-icon {
    fill: var(--primary-brand);
}

.modal-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--modal-overlay);
    border: 1px solid var(--modal-overlay);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    margin-bottom: 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
    border-color: var(--primary-brand);
}

.modal-check {
    margin-bottom: 24px;
}

.modal-check-link {
    color: var(--primary-brand);
    text-decoration: underline;
}

.modal-check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    
}

.modal-check-text span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--modal-overlay);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.modal-check-icon {
    fill: transparent;
}

.modal-checkbox:checked + .modal-check-text span {
    background-color: var(--pressed-state);
    border: none;
}

.modal-checkbox:checked + .modal-check-text svg {
    fill: var(--light);
}

.modal-checkbox:focus + .modal-check-text span {
    border-color: var(--pressed-state);
}
